
.main-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

hr {
	width: 50%;
}

input {
	width: 40%;
	text-align: center;
	margin: 0.4rem;
}

button {
	margin: 10px;
}