<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tanl - Login</title>
</head>
<body>
	<image src="images/" alt="Tanl-Icon"></image>
	<h2>Crează un cont</h2>
	<div id="emailLogin">
		<input type="email">
		<button id="emailLoginButton">Sign in with email</button>
	</div>
	<p>or continue with</p>
	<div id="googleLogin">
		<image src="images/" alt="Google Icon"></image>
		<button id="googleLoginButton">Google</button>
	</div>
	<div>
		<p>
			By clicking continue, you agree to our 
			<a href="/">Terms of Service</a> and 
			<a href="/">Privacy Policy</a>
		</p>
	</div>
</body>
</html>