
.main-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

hr {
	width: 50%;
}

p,
label {
	font:
		1rem "Fira Sans",
		sans-serif;
}

input {
	margin: 0.4rem;
}

fieldset {
	display: flex;
	flex-direction: row;
}

#logo {
	width: 7.5%;
	height: 7.5%;
}