<!DOCTYPE html>
<html>

<head>
	<title>TANL</title>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script defer src="/static/design/javascript.js"></script>
	<link rel="stylesheet" href="/static/design/style.css">
	<link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>

<body>
	<script>
		var script_status = "{{ script_st }}";
	</script>


	<div id="container">
		<div id="heading">
			<a href="/" id="title-tag">
				<div id="title">💵 TANL</div>
			</a>
			<div id="profile-icon-wrapper">
				<a href="/profile">
					<img src="https://i.pravatar.cc/40" alt="Profile Icon" class="profile-icon">
				</a>
			</div>
		</div>
		<hr>
		<div class="control-center">
			<div class="selector-timp">
				<button class="opt-timp active" onclick="selectTime(this, 'one_day')">1 Zi</button>
				<button class="opt-timp" onclick="selectTime(this, 'two_day')">2 Zile</button>
				<button class="opt-timp" onclick="selectTime(this, 'three_day')">3 Zile</button>
				<button class="opt-timp" onclick="selectTime(this, 'five_day')">5 Zile</button>
				<button class="opt-timp" onclick="selectTime(this, 'one_week')">1 Săptămână</button>
				<button class="opt-timp" onclick="selectTime(this, 'two_week')">2 Săptămâni</button>
				<button class="opt-timp" onclick="selectTime(this, 'one_month')">1 Lună</button>
				<button class="opt-timp" onclick="selectTime(this, 'six_month')">6 Luni</button>
				<button class="opt-timp" onclick="selectTime(this, 'one_year')">1 An</button>
			</div>
			<div class="buttons">
				<div id="start">
					<button> ▶️ </button>
				</div>
				<div id="stop">
					<button> ⏸️ </button>
				</div>
				<p id="text_status">Loading</p>
			</div>
		</div>
		<div id="main-wrapper">
			<div id="left">
				<div class="content" id="live-data">
					<div id="price-per-lead">
						<p>Valoare / Raspuns</p>
						<h1><span id="price-per-lead-value">0</span> RON</h1>
						<p class="light-text"><span id="price-per-lead-procent">+0</span> change over this month</p>
					</div>
					<div id="responded-messages">
						<p>Cate persoane au raspuns la mesaje</p>
						<h1 id="responded-messages-value">0</h1>
						<p class="light-text"><span id="seen-messages-procent">+0</span> change over this month</p>
					</div>
				</div>
				<div class="content" id="graph">
					<h2>Evolutie valoare / raspuns</h2>
					<canvas id="lineChart"></canvas>
				</div>
				<div class="content" id="column">
					<h2>Estimat venit lunar</h2>
					<canvas id="barChart"></canvas>
				</div>
			</div>
			<div id="right">
				<div class="content" id="sent-messages">
					<p>Cate mesaje au fost trimise cu succes</p>
					<h1 id="sent-messages-value">0</h1>
					<p class="light-text"><span id="price-per-lead-procent">+0</span> change over this month</p>
				</div>
				<div class="content" id="seen-messages">
					<p>Numarul de mesaje vazute</p>
					<h1 id="seen-messages-value">0</h1>
					<p class="light-text"><span id="price-per-lead-procent">+0</span> change over this month</p>
				</div>
			</div>
		</div>
	</div>
</body>

</html>