<!DOCTYPE html>
<html lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin-Dashboards</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='dashboard/style.css') }}">
	<script defer src="{{ url_for('static', filename='dashboard/javascript.js') }}"></script>
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png')}}">
</head>
<body>
	<script>
		var script_status = "{{ script_st }}";

	 </script>
	<div class="main-wrapper">
		<h1> Tanl</h1> 
		<hr>
		<div id="command_center">
			<p>Status: <p id="text_status"> - </p></p>
			<button id="start">Start</button>
			<button id="stop"> Stop </button>
		</div>
		<hr>
		<form action="{{ url_for('profile')}}">
			<button type="submit">Profile</button>
		</form>
		<hr>
		<h2>Introdu valoarea estimata a unui lead</h2>
		<input id="value_input" type="number">
		<button onclick="updateEstimatedValue()" id="value_button">Save</button>
		<p> *Butonul de save actualizeaza datele si totodata preia si noul interval de timp</p>
		<hr>
		<fieldset>
			<legend>Alege intervalul:</legend>
			<div>
				<input type="radio" id="one_day" name="monsterFeature" checked />
				<label for="one_day">1 zi</label>
			</div><div>
				<input type="radio" id="two_day" name="monsterFeature"  />
				<label for="two_day">2 zile</label>
			</div><div>
				<input type="radio" id="three_day" name="monsterFeature"  />
				<label for="three_day">3 zile</label>
			</div><div>
				<input type="radio" id="five_day" name="monsterFeature"  />
				<label for="five_day">5 zile</label>
			</div><div>
				<input type="radio" id="one_week" name="monsterFeature"  />
				<label for="one_week">1 sapt</label>
			</div><div>
				<input type="radio" id="two_week" name="monsterFeature"  />
				<label for="two_week">2 sapt</label>
			</div><div>
				<input type="radio" id="one_month" name="monsterFeature"  />
				<label for="one_month">1 luna</label>
			</div><div>
				<input type="radio" id="six_month" name="monsterFeature"  />
				<label for="six_month">6 luni</label>
			</div><div>
				<input type="radio" id="one_year" name="monsterFeature"  />
				<label for="one_year">1 ani</label>
			</div>
			
		</fieldset>
		<hr>
		<h2>Valoare/Raspuns</h2>
		<h1 id="value_response">Loading...</h1>
		<hr>
		<h2>Mesaje vazute</h2>
		<h1 id="seen_messages">Loading...</h1>
		<hr>
		<h2 >Mesaje raspunse</h2>
		<h1 id="respond_messages">Loading...</h1>
		
	</div>
</body>
</html>